
*Learn a function that maps input patterns into target space such that L1 norm in the target space approximates "semantic distance" in input space.
*Learning process minimizes a discriminative loss function that drives the similarity metric to be small for pairs of faces from the same person, and large for pairs from different person.
*
